## 11-20. Python 변수
파이썬 변수는 자주 사용되는 값을 바인딩합니다. 파이썬 변수의 개념을 이해하고 문제를 풀어봅시다.
* link : https://wikidocs.net/7021
--------

### Q11. 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [19]:
ss = 50000
total_ss = ss*10

total_ss

500000

### Q12. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

In [20]:
시가총액 = 298*(10**12)
현재가 = 5*(10**4)
PER = 15.79

print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

### Q13. 변수 s와 t에는 각각 문자열이 바인딩되어있습니다.
s = "hello"
t = "python"

두 변수를 이용하여 아래와 같이 출력해보세요

hello! python

In [21]:
s ="hello"
t ="python"

print(s+"!", t)
print(s+"!"+t) #공백 없어짐

hello! python
hello!python

### Q14. 아래 코드의 실행 결과를 예상해보세요

In [22]:
2+2*3

8

### Q15. type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다. 

* 아래 변수에 바인딩된 값의 타입을 판별해보세요

In [23]:
a = 128
print(type(a))

<class 'int'>

In [24]:
a=132

In [25]:
print(type(a))

import numpy as np
a1 = np.array([132])
a1.dtype # 벡터~행렬 연산 라이브러리인 numpy array를 통해서도 type을 확인할 수 있음!

<class 'int'>

dtype('int64')

### Q16. 문자열 "720"을 정수형으로 변환해보세요

In [29]:
num_str = "720"

num_int = int(num_str)

print(num_int, type(num_int))

720 <class 'int'>

### Q17. 정수 100을 문자열 "100"으로 변환해보세요

In [30]:
int_100 = 100

str_100 = str(int_100)

print(str_100, type(str_100))

100 <class 'str'>

### Q18. 문자열을 실수로 변환 : 문자열 "15.79"를 실수(float) 타입으로 변환해보세요

In [31]:
string = "15.79"

str_to_float = float(string)

print(str_to_float, type(str_to_float))

15.79 <class 'float'>

### Q19. 문자열을 정수로 변환 : year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요

In [63]:
year = "2021"

In [64]:
year = int(year)

print(year, type(year))

2021 <class 'int'>

In [67]:
for i in [1,2,3]:
    print(year-i)

2020
2019
2018

### Q20. 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [84]:
p_per_month = 48584
paying_month = 36

total_price = p_per_month * paying_month

print(total_price)

1749024