## Q31. 문자열 합치기
아래 코드의 실행 결과를 예상해보세요

In [1]:
a = "3"
b = "4"
print(a + b)

# 34가 나옵니다

34

## Q32. 문자열 곱하기
아래 코드의 실행 결과를 예상해보세요

In [3]:
print("hi"*3)

#hihihi

hihihi

## Q33. 문자열 곱하기
화면에 '-'를 80개 출력하세요

In [2]:
print("-"*80)

--------------------------------------------------------------------------------

## Q34. 문자열 곱하기
변수에 다음과 같은 문자열이 바인딩되어 있습니다.

t1 = 'python'

t2 = 'java'

변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

=> python java python java python java python java

In [5]:
t1 = "python"
t2 = "java"

print(("python "+"java ")*4)

python java python java python java python java

## Q35. 문자열 출력
변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

In [6]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

이름: 김민수 나이: 10

이름: 이철희 나이: 13

In [8]:
print("%이름:"name1, "%나이:"age1).%formatting
print("%이름:"name2, "%나이:":age2).%formatting

#땡

SyntaxError: invalid syntax (<ipython-input-8-86ba1e6bd6a2>, line 1)

print 포맷팅에서 %s는 문자열 데이터 타입의 값을 %d는 정수형 데이터 타입 값의 출력을 의미합니다.

In [11]:
print("이름: %s 나이: %d" %(name1, age1))
print("이름: %s 나이: %d" %(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

## Q36. 문자열 출력
문자열의 format() 메서드를 사용해서 035번 문제를 다시 풀어보세요

In [20]:
print("이름: %s 나이: %d" %(format(name1), age1))
print("이름: %s 나이: %d" %(format(name2), age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [23]:
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

#위 코드보다 이 코드가 훨씬 직관적 !

이름: 김민수 나이: 10
이름: 이철희 나이: 13

## Q37. 문자열 출력
파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

f-string은 문자열 앞에 f가 붙은 형태입니다. f-string을 사용하면 {변수}와 같은 형태로 문자열 사이에 타입과 상관없이 값을 출력할 수 있습니다.

In [25]:
print(f"이름: {name1}, 나이: {age1}")
print(f"이름: {name2}, 나이: {age2}")

이름: 김민수, 나이: 10
이름: 이철희, 나이: 13

## Q38. 컴마 제거하기
삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

In [28]:
상장주식수 = "5,969,782,550"

상장주식수 = 상장주식수.replace(",","") 
#컴마가 ""안에 있기 때문에 string으로 처리되고 이에 따라 replace문 사용 가능

type(int(상장주식수))

int

## Q39. 문자열 슬라이싱
다음과 같은 문자열에서 '2020/03'만 출력하세요.

In [39]:
분기 = "2020/03(E) (IFRS연결)"

In [32]:
list = [분기]
len(list)
list

['2020/03(E) (IFRS연결)']

In [45]:
분기2 = 분기.split("(E) (IFRS연결)")
# 자료구조가 리스트로 바뀌고 1개의 분기점을 기준으로 나머지 하나의 토막이 리스트에 저장됨

In [46]:
# 따라서, 리스트에서 인덱싱을 쉽게 할 수 있음
분기2[0]

'2020/03'

In [48]:
## 모범답안 : string에서도 슬라이싱 가능;;

print(분기[:7])

2020/03

## Q40. Strip 메서드
문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "     삼성전자    "

In [49]:
data = "  삼성전자   "

In [50]:
data.strip()
# 객체지향 프로그래밍에서 메서드는 항상 ()와 함께 써야하는 함수라는 점을 유념 !

'삼성전자'