## 61~70

### Q61.
price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

In [1]:
price = ['20180728', 100, 130, 140, 150, 160, 170]

In [2]:
price[1:]

[100, 130, 140, 150, 160, 170]

### Q62.
슬라이싱을 사용해서 홀수만 출력하라.

In [3]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
nums[0::2]

[1, 3, 5, 7, 9]

### Q63.
슬라이싱을 사용해서 짝수만 출력하라.

In [9]:
nums[1::2]

[2, 4, 6, 8, 10]

### Q64.
슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

In [10]:
nums = [1, 2, 3, 4, 5]

In [19]:
nums[::-1] #역방향 출력 !!!

[5, 4, 3, 2, 1]

### Q65.
interest 리스트에는 아래의 데이터가 바인딩되어 있다. 

interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

출력 예시:
삼성전자 LG전자

In [25]:
interest = ['삼성전자', 'LG전자', 'Naver']

In [31]:
interest[:2]

['삼성전자', 'LG전자']

In [32]:
print(interest[0], interest[1])

삼성전자 LG전자

### Q66. join 메서드
interest 리스트에는 아래의 데이터가 바인딩되어 있다. 

interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

출력 예시:
삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [33]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [37]:
print("/".join(interest))
# 문자열의 join 메서드를 사용하면 리스트를 문자열로 붙일 수 있습니다.

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

### Q67. join 메서드
interest 리스트에는 아래의 데이터가 바인딩되어 있다. 

interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

출력 예시:
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [41]:
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

### Q68. join 메서드
join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

In [ ]:
출력 예시:
삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [44]:
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

### Q69. 문자열 split 메서드
회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다. 이를 interest 이름의 리스트로 분리 저장하라.

In [45]:
string = "삼성전자/LG전자/Naver"

In [47]:
interest = string.split("/")

In [48]:
print(interest)

['삼성전자', 'LG전자', 'Naver']

### Q70. 리스트 정렬
리스트에 있는 값을 오름차순으로 정렬하세요.

In [49]:
data = [2, 4, 3, 1, 5, 10, 9]

In [64]:
data.sort()

In [65]:
data

[1, 2, 3, 4, 5, 9, 10]

In [66]:
# or
sorted(data)

[1, 2, 3, 4, 5, 9, 10]