# 08. 파이썬 반복문 (Q.191~200)

### 191
data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.

In [1]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.

In [4]:
fee = 0.014*(1/100)
fee

0.00014000000000000001

In [8]:
for i in data:
    for j in i:
        print(j*(1+fee))

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [9]:
for row in data:
    for column in row:
        print(column * (1+fee))

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

### 192
191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.

In [12]:
for row in data:
    for column in row:
        print(column*(1+fee))
    print("----")

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

### 193
191번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라

In [16]:
result = []

for row in data:
    for column in row:
        result.append(column*(1+fee))

result

[2000.28,
 3050.427,
 2050.2870000000003,
 1980.2772,
 7501.05,
 2050.2870000000003,
 2050.2870000000003,
 1980.2772,
 15452.163,
 15052.107,
 15552.177,
 14902.086000000001]

### 194
191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라. 저장 포맷은 아래와 같다. 각 행에 대한 데이터끼리 리스트에 저장되어야 한다.

In [18]:
result = []

for row in data:
    sub = []
    for column in row:
        sub.append(column*(1+fee))
    result.append(sub)

print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

### 195
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 화면에 종가데이터를 출력하라.

In [19]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

In [20]:
import pandas as pd

In [25]:
data = pd.DataFrame(ohlc, columns = ['o', 'h', 'l', 'c'])
data

      o     h    l      c
0  open  high  low  close
1   100   110   70    100
2   200   210  180    190
3   300   310  300    310

In [42]:
close = list(data.loc[1:,"c"])

for i in close:
    print(i)

100
190
310

### 196
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 150원보다 큰경우에만 종가를 출력하라.

In [44]:
ohlc = pd.DataFrame(ohlc, columns=["open", "high", "low", "close"])

In [46]:
ohlc = ohlc[1:]
ohlc

  open high  low close
1  100  110   70   100
2  200  210  180   190
3  300  310  300   310

In [47]:
close_over_150 = ohlc["close"].loc[ohlc["close"]>150]

In [48]:
close_over_150

2    190
3    310
Name: close, dtype: object

In [49]:
for i in close_over_150:
    print(i)

190
310

### 197
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 시가보다 크거나 같은 경우에만 종가를 출력하라

In [50]:
ohlc

  open high  low close
1  100  110   70   100
2  200  210  180   190
3  300  310  300   310

In [53]:
result = ohlc["close"].loc[ohlc["close"]>=ohlc["open"]]

In [55]:
for i in result:
    print(i)

100
310

### 198
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.

In [56]:
ohlc["volatility"] = ohlc["high"] - ohlc["low"]

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [57]:
ohlc

  open high  low close volatility
1  100  110   70   100         40
2  200  210  180   190         30
3  300  310  300   310         10

In [59]:
volatility = list(ohlc["volatility"])

In [60]:
volatility

[40, 30, 10]

### 199
리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.

In [63]:
pd.DataFrame(ohlc["volatility"].loc[ohlc["close"]>ohlc["open"]])

  volatility
3         10

### 200
리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.

In [64]:
ohlc["gain"] = ohlc["open"]-ohlc["close"]

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [65]:
ohlc

  open high  low close volatility gain
1  100  110   70   100         40    0
2  200  210  180   190         30   10
3  300  310  300   310         10  -10

In [66]:
gain = ohlc["gain"].sum()

In [67]:
gain

0