In [9]:
%cd /Users/heosangbeom/Desktop/4-2(!)/AI수학/math_ai_실습/
!ls

/Users/heosangbeom/Desktop/4-2(!)/AI수학/math_ai_실습
AI_Math_2021011(problem).ipynb      AI_Math_20211004(solution).ipynb
AI_Math_2021011(solution).ipynb     AI_Math_2021101(problem).ipynb
AI_Math_2021018(problem) (1).ipynb  AI_Math_2021101(solution).ipynb
AI_Math_2021018(solution).ipynb     AI_Math_2021108(problem).ipynb
AI_Math_20210913.ipynb              AI_Math_2021108(solution).ipynb
AI_Math_20210927(problem) (1).ipynb Untitled.ipynb
AI_Math_20210927(solution).ipynb    naive_baeys_data.csv
AI_Math_20211004(problem).ipynb     purchase_data.csv

이번시간에는 Naive Bayes 실습을 진행해보겠습니다.

In [10]:
import numpy as np
import math
import pandas as pd

1. 우선, 데이터를 불러와야 합니다.

naive_baeys_data.csv 파일을 불러와보세요.

In [11]:
df = pd.read_csv('naive_baeys_data.csv')

2. 데이터가 어떻게 생겼는지 확인해보세요. (head 기능 있었죠?!)

In [12]:
df.head(3)

    Outlook Temp Humidity  Windy Play Golf
0     Rainy  Hot     High  False        No
1     Rainy  Hot     High   True        No
2  Overcast  Hot     High  False       Yes

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Outlook    14 non-null     object
 1   Temp       14 non-null     object
 2   Humidity   14 non-null     object
 3   Windy      14 non-null     bool
 4   Play Golf  14 non-null     object
dtypes: bool(1), object(4)
memory usage: 590.0+ bytes

In [14]:
df.isna().sum() #컬럼별 결측치 체크

Outlook      0
Temp         0
Humidity     0
Windy        0
Play Golf    0
dtype: int64

In [15]:
df = df.dropna() #결측치 있다면 제거

우리가 구하고 싶은 것은, (Rainy, Cool, High, True)일 때, Play Golf가 True일 확률을 구하는 것입니다. (MathAI_lecture13_20211108 17p)

3. 우선, p(yes)를 구해보세요.

In [17]:
num_data = len(df)
num_yes = len(df[df["Play Golf"] == "Yes"])
p_yes = num_yes/num_data
print(p_yes)

0.6428571428571429

## 베이즈 룰 시작
4. 이번에는 p(Rainy|Yes)를 구해보겠습니다.

In [28]:
num_rainy_yes = len(df[(df["Outlook"]=="Rainy") & (df["Play Golf"]=="Yes")]) #df 복합 Filtering 문법 유의 df[() & ()] 형태로 소괄호 인자로 하나씩 필터 조건 받는다는 것
p_rainy_yes = num_rainy_yes / num_yes
print(p_rainy_yes)

0.2222222222222222

5. 이번에는 마찬가지로, p(cool|yes), p(high|yes), p(true|yes) 를 구해보세요.

In [29]:
df.head()

    Outlook  Temp Humidity  Windy Play Golf
0     Rainy   Hot     High  False        No
1     Rainy   Hot     High   True        No
2  Overcast   Hot     High  False       Yes
3     Sunny  Mild     High  False       Yes
4     Sunny  Cool   Normal  False       Yes

In [34]:
num_cool_yes = len(df[(df["Temp"]=="Cool") & (df["Play Golf"]=="Yes")])
p_cool_yes = num_cool_yes / num_yes

num_high_yes = len(df[(df["Humidity"]=="High") & (df["Play Golf"]=="Yes")])
p_high_yes = num_high_yes / num_yes 

num_true_yes = len(df[(df["Windy"]==True) & (df["Play Golf"]=="Yes")]) # bool type인데 내가 "True"라고 써줘서 자꾸 에러났었음 (!!)
p_true_yes = num_true_yes / num_yes
                      
print(p_cool_yes, p_high_yes, p_true_yes)

0.3333333333333333 0.3333333333333333 0.3333333333333333

6. 마지막으로, p(Yes|Rainy, Cool, High, True)를 구해보세요.

In [35]:
prob = p_rainy_yes*p_cool_yes*p_high_yes*p_true_yes*p_yes
print(prob)
# lecture note p.17 !!
# 분모에 feature x를 쓰는게 아니라 근사하는 값을 구해보자는 것 with Naive Bayes

0.005291005291005291